body {
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-img {
  width: 150px;
}

.card {
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #2b2839;
  background: #ddebf8;
  border-bottom: 10px solid #d8cefe;
}
