/* 
Challenge:
1. Create a body selector.
2. Set the base font size and text color to 
   the values given on the slide.
3. Bring in "Roboto" from Google Fonts and 
   set it as the default font. Make sure 
   browsers will fall back on a sans-serif 
   font if Roboto is unavailable.
4. Override HTML's default margin.
*/

body {
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #2b283a;
}

/* 
Challenge:
1. Create a "header" selector.
2. Give it its background color.
3. What CSS property do you need to use to remove
   the annoying white space at the top? Give this 
   property a value of 45px top and bottom.
3. Create selectors for the h1 and h3 elements.
4. Assign the correct margins, size & colors to h1
   and h3.
At the end of the challenge, the h1 and h3 will 
still be up right up against the left-hand edge of 
the browser. That is fine for now.   
*/

/* typography */

h1 {
  font-size: 36px;
  margin: 0px;
  color: whitesmoke;
}

/* 
Challenge:
1. Add CSS so the text in the first section 
   renders correctly. 
⚠️ Watch out for the amount of white space 
   you have between the start of the section 
   and the h2.
⚠️ Don't write too much code!
*/

section h2 {
  margin-top: 0;
}

h3 {
  font-size: 20px;
  margin: 0px;
  color: #d0affd;
}
/* 
Challenge:
1. Create a "section" selector and give it the 
   same padding as the header.
2. In index.html, find the image of the purple 
   sneakers and attach a class to it. 
3. Make it so this image takes up 100% 
   of the section width.
*/

.purple-sneakers {
  width: 100%;
  /* border: 1px solid red */
}

/* 
Challenge:
1. Set the color of the link in the paragraph.
2. Make the link color change on hover and 
   active states.
3. Search online to find out how you can give 
   the underline a dotted appearance. 
*/

/* links */

a {
  color: #ef5839;
  text-decoration-style: dotted;
}

a:hover {
  color: #d4b33c;
}

a:active {
  color: #d4b33c;
}

/* 
Challenge:
1. In index.html, wrap the contents of the
   header and sections in container divs.
2. Create a selector and add the properties 
   needed to fix the content width and align
   it to the center.
⚠️ The background colors must stay full 
   width!
*/

/* layout */

header {
  background: #5f29a3;
  padding: 45px 0;
}

section {
  padding: 45px 0;
}
.container {
  width: 620px;
  /* border: 1px solid greenyellow; */
  margin: 0 auto;
}

/* 
Challenge:
1. Change the background color of this 
   section, remembering to make sure 
   the color covers 100% of the width.
2. Change the font color for all text in 
   this section.
*/

.crypto_man {
  background: #5f29a3;
  color: whitesmoke;
}

/* #crypto_punk, #crypto_styles{
    width: 290px;
    margin: 0 8px;
} */

/* 
Challenge:
1. Give the images in section two a class.
2. Use that class to set the width and 
   border-radius for the images.
3. Wrap the two images in a container div 
   and give it a class.
4. Create the CSS selector for that class 
   and use flex-box to layout the images
   as shown in the slide.
*/

.img_container {
  display: flex;
  justify-content: space-between;
}

.crypto_image {
  width: 300px;
  border-radius: 4.6px;
}

/* 
Challenge:
1. Center the footer's text horizontally.
2. Give the text space top and bottom.
   ⚠️ Don't add margin! Look at sections
   and header for inspiration. 
3. Give the text the correct color.
*/

footer {
  text-align: center;
  color: #5f29a3;
  padding: 54px 0;
}
