body {
  margin: 20px;
}

.card {
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.main-img {
  width: 150px;
}

.blue-border {
  border: 1px dotted blue;
}
